%error_text {
  color: grey;
  font: inherit;
}

$preset-shadow: 0px 1px 3px 0px rgba(61, 61, 61, 0.2), 0px 2px 5px 2px rgba(131, 131, 131, 0.1);

* {
  box-sizing: border-box;
}

.weather {

  overflow: hidden;
  margin: 0 0 20px 0;
  


  .current_postcode {
    height: 18px;
    position: absolute;
    top: 9px;
    right: 46px; 
    font-size: calc(4px + 1vw)
  }

  .options_icon_container {
    width: 36px;
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .options_icon {
      font-size: calc(13px + 1vw);
      
      &.click_animation_forward {
        transform: rotate(180deg);
        transition: all 0.2s;      
      }
      &.click_animation_reverse {
        transform: rotate(0deg);
        transition: all 0.2s;
      }
    }
  }

  .postcode_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .postcode_label {
      font-size: calc(8px + 1.4vw);
      padding: 0 0 20px 0;
    }
    .input_container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(.1vw);

      @media screen and (max-width: 650px){    
        flex-direction: column;
      }

      input {
        height: 40px;
        max-height: 40px;
        width: 50%;
        min-width: 60px;
        margin: 0 10px;
        display: inline-block;
        font-size: 18px;
        text-align: center;
        border: 1px solid #222;
        border-radius: 5px;
        box-shadow: $preset-shadow;
        &:-webkit-autofill::first-line {
          font-size: 18px;
        }
        &:focus {
          outline: none;
        }
      }

      button {
        height: 40px;
        max-height: 40px;
        width: 100px;
        padding: 5px 15px;
        margin: 5px 0;
        display: inline-block;
        font-size: 18px;
        letter-spacing: 1px;
        border: 1px solid #222;
        border-radius: 5px;
        box-shadow: $preset-shadow;
        transform: scale(1);
        transition: transform 0.3s;
        &:hover {
          background-color: #e6e6e6;
        }
        &:active {
          transform: scale(0.96);
          transition: transform 0.3s;
        }
      }
    }
  }

  .weather_display_container {
    height: 100%;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    
    .today_title {
      width: 60%;
      font-size: calc(10px + 1vw);
      position: relative;
      top: 10px;
    }

    .current_weather_container {
      flex-grow: 5;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-weight: 400;
      hr {
        height: 60%;
        width: 1px;
        background-color: black;
        border: none;
      }
      .current_weather_icon_container {
        width: calc(60% + 2px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .current_weather_icon {
          width: calc(20px + 4vw);
        }
        .current_temp {
          font-size: calc(3px + 2.5vw);
        }
      }
      .current_weather_max_min_container{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: calc(5px + 1.5vw);
        font-weight: 300;
        
        @media screen and (max-width: 700px){
          border: none;
        }
      }
      .current_weather_sunset_container {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(5px + 1.5vw);

        @media screen and (max-width: 700px){
          display: none;
        }
      }
    }

    .forcast_container {
      width: 100%;
      
      flex-grow: 1;
      display: flex;
      justify-content: space-around;


      .forcast_day_container {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:nth-child(1n){
          border-right: 1px solid black;
        }
        &:nth-child(5n){
          border-right: none;
        }

        @media only screen and (max-width: 1350px){
          width: 25%;
          &:nth-child(5){
            display: none;
          }
          &:nth-child(1n){
            border-right: none;
          }
        }
        @media only screen and (max-width: 1100px){
          width: 33%;
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(3){
            border-right: none;
          }
        }
      
        .forcast_date {
          width: 100%;
          font-size: calc(9px + 0.5vw);
          margin: 10px 0 10px 0;
        }

        .forcast_weather_icon {
          width: calc(15px + 2.5vw);
        }

        .forcast_day_data {
          position: relative;
          width: 100%;
          font-size: calc(10px + 0.6vw);
          display: flex;
          justify-content: space-between;
          padding: 0 3px;
          margin: 0 0 5px 0;
          .forcast_min_max_temp {
            margin: auto;
            h5 {
              margin: 4px 0;
            }
          }

          .forcast_rain {
            display: flex;
            align-items: center;
            margin: auto;
            @media screen and (max-width: 900px){
              display: none;
            }

            .rain_icon {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.error_message_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %error_text;
  h2 {
    @extend %error_text;
    margin: 10px;
    text-align: left;
    font-size: calc(10px + 0.4vw);
  }
  h5 {
    @extend %error_text;
    margin: 10px;
    font-size: calc(10px + 0.3vw);
  }
  .error_icon_container {
    display: flex;
    align-items: center;
    .retry_icon {
      margin: 0 20px;
      font-size: calc(17px + 1vw); 
    }
    .error_back_icon {
      font-size: calc(37px + 1vw); 
    }
  }
}

.default_handling_container {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(13px + 0.3vw);

  h2 {
    @extend %error_text;
  }
  .error_back_icon {
    font-size: calc(22px + 2vw);
  }
}

