* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.sleep-main-display {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100vw - 100px);
    padding: 30px;
    display: grid;
    grid-gap: 20px;
    grid: 1fr 2fr 4fr / repeat(7, 1fr);
    border: 1px solid black;

    .sleep-target {
        border: 1px solid black;
        grid-area: 2 / 2 / 3 / 7;
        input {
            display: block;
            margin: auto;
        }
    }

    .past-seven-days-container {  
        grid-area: 2 / 1 / 3 / 8;      
        display: flex;
        flex-direction: row-reverse;
        height: 200px;
        .one-day-of-seven-days {
            border: 1px solid black;
            width: calc((100vw - 100px) / 7 );
            font-size: 16px;
        }
    }

}

.sleep-circular-display {
    height: 150px;
    width: 150px;
    background: radial-gradient(grey, white);
    border-radius: 100px;
    display: flex;
    .inner-circle-numbers {
        height: 100px;
        width: 100px;
        background: radial-gradient(grey, black);
        border-radius: 100px;
        margin: auto;

    }
}