@font-face {
  font-family: 'digital';
  src: local('digital'), url(../fonts/digital-7.mono.woff) format('woff');
}

.home {
  height: 100%;
  width: 100%;
  min-width: 815px;
  min-height: 615px;

  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr / repeat(12, 1fr);
  grid-gap: 25px;
  justify-items: stretch;
  
  padding: 50px 80px;

  @media screen and (max-width: 800px) {
    padding: 30px;
    grid-gap: 10px;
  }

  %main_component {
    position: relative;
    border-radius: 10px;
    //backdrop-filter: blur(5px);
  }
  %border_component {
    border: 1px solid black;
  }
  
  .clock {
    grid-area: 1 / 1 / 6 / 5;
    @extend %main_component;
  }
  .search_bar {
    grid-area: 6 / 1 / 7 / 5 ;
    @extend %main_component;
  }
  .weather {
    grid-area: 1 / 5 / 7 / 10 ;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    
    @extend %main_component;
  }
  .news_api {
    grid-area: 7 / 5 / 13 / 10;
    @extend %main_component;
  }
  .reminders {
    grid-area: 1 / 10 / 13 / 13;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    @extend %main_component;
  }
  .shortcuts {
    grid-area: 7 / 1 / 13 / 5;
    @extend %main_component;
  }
}



