

.home {
  height: 100%;
  width: 100%;
  min-width: 815px;
  min-height: 615px;

  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr / repeat(12, 1fr);
  grid-gap: 25px;
  justify-items: stretch;
  
  padding: 50px 80px;

  @media screen and (max-width: 900px) {
    padding: 30px;
    grid-gap: 10px;
  }

  @media screen and (max-width: 500px) {
    grid: repeat(14, 1fr) / 1fr;
    min-width: 100%;
    min-height: fit-content;
    .clock {
      grid-area: 1 / 1 / 2 / 2 !important;
    }
    .shortcuts {
      grid-area: 2 / 1 / 5 / 2 !important;
    }
    .weather {
      grid-area: 5 / 1 / 7 / 2 !important;      
    }
    .news_api {
      grid-area: 7 / 1 / 9 / 2 !important;
    }
    .reminders {
      grid-area: 9 / 1 / 13 / 2 !important;
    }
    .search_bar {
      display: none;
    }
  }


  %main_component {
    position: relative;
    border-radius: 10px;
    //backdrop-filter: blur(5px);
  }
  %border_component {
    border: 1px solid black;
  }
  
  .clock {
    grid-area: 1 / 1 / 6 / 5;
    @extend %main_component;
  }
  .search_bar {
    grid-area: 6 / 1 / 7 / 5 ;
    @extend %main_component;
  }
  .weather {
    grid-area: 1 / 5 / 7 / 10 ;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    
    @extend %main_component;
  }
  .news_api {
    grid-area: 7 / 5 / 13 / 10;
    @extend %main_component;
  }
  .reminders {
    grid-area: 1 / 10 / 13 / 13;
    @extend %main_component;
  }
  .shortcuts {
    grid-area: 7 / 1 / 13 / 5;
    @extend %main_component;
  }
}



