

.scene {
    
    left: 400px;
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;

  transform-style: preserve-3d;
  
}


.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;

}


.cube__face__front  { transform: rotateY(0deg) translateZ(0); }


.cube__face__right  { transform: rotateY( 40deg) translateZ(65px) translateX(185px) translateY(0); }

.cube__face__left   { transform: rotateY(-40deg) translateZ(65px) translateX(-185px) translateY(0); }


