
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

  .time {
    font-size: calc(22px + 3vw);
    font-family: Arial, Helvetica, sans-serif;
  }

  .date_container {
    margin: 10px;
    
    .date_suffix {
      font-size: 16px;
    }
  }
}