* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

}

$app-background: #282c34;

body {
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: black;
  z-index: -2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  //background: linear-gradient(180deg, transparent 20%, black , transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;

  .not_in_use_container {
    position: relative;
    .icon {
      color: rgba(110, 110, 110, 0.6);
    }
  }

  .not_in_use {
    color: rgba(100, 100, 100, 0.8);
    position: absolute;
    font-size: 64px;
    top: calc(50% - 34px);
    left: calc(50% - 32px);
  }

  .icon {
    margin: 40px;
    color: white;
  }
}

.main-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(  rgb(67, 71, 114), rgb(0, 0, 25));

}

  




